{% extends 'FormBase.html' %}

{% load static %}

{% block width %}100%{% endblock %}

{% block id %}addSlotForm{% endblock %}

{% block action %}{% url 'vcmsapp:add-slot' staff_id=staff.id %}{% endblock %}

{% block content %}
    {% include 'components/input.html' with icon='fa fa-lock' type='password' id='password' name='password' placeholder='Password' value='' required=True icon_id='eye' %}
    {% include 'components/input.html' with icon='fa fa-lock' type='password' id='newPassword' name='newPassword' placeholder='New Password' value='' required=True %}
    {% include 'components/input.html' with icon='fa fa-lock' type='password' id='confirmPassword' name='confirmPassword' placeholder='Confirm Password' value='' required=True %}

    <script src="{% static 'js/field_validators.js' %}"></script>
    <script>
        const show = document.getElementById('show');
        if (show) {
            show.addEventListener('click', (e) => {
                e.preventDefault();

                const eye = document.getElementById('eye');
                if (password.type === 'password') {
                    password.type = 'text';
                    confirmPassword.type = 'text';
                    eye.classList.remove('fa-eye');
                    eye.classList.add('fa-eye-slash');
                    show.title = 'Hide Password';
                } else {
                    password.type = 'password';
                    confirmPassword.type = 'password';
                    eye.classList.remove('fa-eye-slash');
                    eye.classList.add('fa-eye');
                    show.title = 'Show Password';
                }
            });
        }

        validate_password(id='newPassword');
    </script>
{% endblock %}